---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.11/me/events?access_token=EAACuX4ZA8sRkBAIYB405JpljA4P5gY1oxmLl86CFZAOy2ZBz6zRxagKgLbwIYF0vo7IWZCtAPtMTPCt9ZC287kdhUzgXPc9xvL3GPIxQlfxPth0YxGNQL7Ggs7FfgmlhwYnXw3z1ykc3ZBfwmWZBZBqVhJlR3AZAEcQYlqnJ8oJr1kq4nWYSnJy5ZCzHiLZCUXxse1o5HAcvH4RpwZDZD&appsecret_proof=a4049aa0b8e0baeb3d43daf778e8fb0d53c946b9383767413b0604634f4e0f58&fields=name,description,start_time,end_time,place%7Bname,location%7Bcity,country,state,street,zip%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d48c0eedb1e3d54af203a6744c1fe41c946e0c5e"'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v2.12
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"name":"Burning Mars 2026","description":"Welcome to the
        expedition to Mars - with no way back.\n\nThe project consists of taking the
        worlds finest desert explorers to a new home: Mars. \n\n                           Mars
        principles:\n\n- Radical commitment to the colour of orange\n- Radical inclusion
        (there''s nobody else)\n- Radical self-reliance (bring enough water)\n- Civic
        responsibility: don''t pee on the orange playa \n\n                        Welcome
        home !!!","start_time":"2026-01-01T00:00:00+0100","place":{"name":"Mars"},"id":"1666044920283588"},{"name":"Jamiroquai","description":"Madison
        House Presents\n\nJAMIROQUAI\n\nSAT, 8 SEP 2018 at 07:30PM EDT\nDoors Open:
        06:00PM\n\nOnSale: Fri, 23 Mar 2018 at 10:00AM EDT\nAnnouncement: Mon, 19
        Mar 2018 at 10:00AM EDT\n\nFounded in 1992 by front man Jay Kay, the pioneers
        of \u201cfuture funk\u201d have taken the world by storm, establishing themselves
        as one of the most successful acts on the planet. Since the release of their
        d[...]
